@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
}

p, a {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin-bottom: 4.5rem;
  font-size: 4rem;
  text-transform: uppercase;
}

@media (max-width: 37.5em) {
  .section-title {
    font-size: 2.8rem;
  }
}

.dark-blue-color {
  color: #272341;
}

.text-color-main {
  margin-left: 1rem;
  color: #5b86e5;
  -webkit-text-fill-color: #5b86e5;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .text-color-main {
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 37.5em) {
  .text-color-main {
    margin: 0;
    background-image: none;
    -webkit-text-fill-color: #5b86e5;
    box-shadow: none;
  }
}

.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.cta-btn:hover {
  box-shadow: 1.5px 1.5px 3px rgba(174, 174, 192, 0.4), -1px -1px 3px #fff;
}

@media (max-width: 37.5em) {
  .cta-btn:hover {
    box-shadow: none;
  }
}

.cta-btn::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  width: 0px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

@media (max-width: 37.5em) {
  .cta-btn::after {
    width: 0;
    height: 0;
    background-image: none;
  }
}

.cta-btn--hero {
  color: #5b86e5;
  -webkit-text-fill-color: #5b86e5;
  border: 2px solid rgba(0, 0, 0, 0);
  -o-border-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  border-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  border-image-slice: 1;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .cta-btn--hero {
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }
}

.cta-btn--resume {
  border-radius: 0;
  color: #fff;
  border: 2px solid #fff;
}

.footer {
  background-color: #333;
  padding: 4.8rem 0;
}

.footer__text {
  font-size: 1.3rem;
  color: #b3b3b3;
}

.section {
  padding: 5rem 0;
}

/* Custom Styles for a Specific Image */
.custom-frame img {
  max-width: 500px; /* Custom frame size */
  border: 5px solid #5b86e5; /* Example: Adding a custom border */
  border-radius: 10px; /* Example: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Example: Adding a shadow */
}
